{
  inputs = {
    runner.url = "https://flakehub.com/f/Fifty-Nine/aws-gh-runner/0.1";
    nixpkgs.follows = "runner/nixpkgs";
    determinate.follows = "runner/determinate";
  };

  outputs = { nixpkgs, determinate, runner, ... }: {
    nixosConfigurations.runner = nixpkgs.lib.nixosSystem {
      system = "aarch64-linux";
      modules = [
        "$${nixpkgs}/nixos/modules/virtualisation/amazon-image.nix"
        determinate.nixosModules.default
        runner.nixosModules.gh-runner
        {
          gh-runner.repos = [ %{for repo in repos} "${repo}" %{endfor} ];
          gh-runner.swapSizeMiB = %{ if swap_size_gib > 0 }${swap_size_gib * 1024}%{ else }null%{ endif };
        }
      ];
    };
  };
}
